# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

*.mp3
*.webm

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
*.ipynb
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Virtual Environments
venv/
env/
#.env
ENV/
venv.bak/
venv3/
.virtualenv/
autogen/__pycache__/
__pycache__
.cache/
autogen/code
autogen/web


# Spyder project settings
.sp

# Ignore Environment Variable
setenv.sh
env.sh
*.zip
#*.ipynb